.inner{
    height: auto;

    width: 80%;
    margin: auto;
    background-color: #242424;
    padding: 50px;
}

.gameDetailsBlock{
}
.gameDetailsBlock.thin{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 40px;
}
.gameDetailsBlock.wide{
    display: flex;
    flex-direction: column;
}
.previewImage{
    position: relative;
    box-shadow: 10px 10px 12px black;
}
.previewImage.thin{
    height: 500px;
}
.previewImage.wide{
    width: 100%;
    height: 720px;
}
.detailsBlock{
    display: flex;
    flex-direction: column;
}
.descriptionBlock{
    margin-top: 20px;
    padding: 10px;
    background-color: #383838;
    width: 90%;
    border-radius: 5px;
}
.detailsBlock.wide{
    margin-top: 30px;
}
.buyButton{
    padding: 10px;
    font-weight: bold;
    font-size: 22px;
    background-color: #ffffff;
    border-radius: 10px;
    width: 11em;
    margin: 20px 0;
    text-align: center;
    color: #4b4b4b;
    transition: linear 0.2s;
    cursor: pointer;
}
.buyButton:hover{
    background-color: #000000;
    color: white;
}
