.profileBlock{
    margin: 10px;
}

.greyButton{
    color: #b8b8b8;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;

    transition: linear 0.2s;
}

.greyButton:hover{
    color: #000000;
    background-color: #ffffff;
}