.mainPageBody{
    width: 60%;
    margin: auto;
    background-color: #242424;
    border-radius: 1px;
    height: auto;
    position: relative;
    top: 100px;
}
.mainPageBody *{
    color: white;
    font-size: 12px;
}
.gamesList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}