.commentsBlock{
    margin-top: 20px;
    background-color: #242424;
    padding: 20px 70px;

    position: relative;
}
.commentDialog{
    display: flex;
    align-items: flex-start;
    width: 90%;
}
.commentDialog div:first-child{
    margin-right: 15px;
    width: 55px;
}
.manageCommentBlock{
    position: relative;
    width: fit-content;
    float: right;

    display: flex;
}
.manageCommentBlock *{
    cursor: pointer;
    padding: 10px 15px;
    transition: linear 0.2s;
    border-radius: 10px;
}
.manageCommentBlock *:hover{
    color: black;
}
.textInput{
    border-bottom: 1px solid #6c6c6c;
    font-size: 16px;
    width: 100%;
    padding: 5px 10px;


    transition: linear 0.4s;
}
.textInput:focus{
    outline: none;
    border-bottom: 1px solid black;
}
.textInput:empty:before {
    content: attr(data-placeholder);
    color: #6c6c6c;
}

.undoButton{
    padding: 5px 15px;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: fit-content;
    transition: linear 0.2s;

    margin-top: 20px;
}
.undoButton:hover{
    background-color: #fff;
    color: #1c1c1c;
}

.unactive{
    color: #4b4b4b;
    pointer-events: none;
    opacity: 0.4;
}