.filterBlock{
    padding: 20px;
    width: 100%;

    display: flex;
    justify-content: space-between;
}
.filterBlock *{
    font-size: 24px;
}
.filterCategory{
    position: relative;
    z-index: 4;
}
.categoriesBlock{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.searchField{
    width: 350px;
    background-color: #323232;
    border: none;
    border-radius: 3px;
    padding: 5px;
    font-size: 20px;
    margin-left: 10px;
}
.searchField:focus{
    outline: none;
}

.addGameButtonBlock{
    text-align: right;
    padding: 10px;
}
.addGameButton{
    font-size: 20px;
    padding: 10px 20px;
    background-color: #000000;
    border-radius: 5px;

    transition: linear 0.2s;
}
.addGameButton:hover{
    color: black;
    background-color: #fff;
}