.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profileInfo{
    display: flex;
    align-items: center;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}