body, html {
    background-color: #000000;
    color: whitesmoke;
    margin: 0;
    padding: 0 0;

    width: 100%;
    min-height: 100vh;
    height: auto;
}
body #root, body .App {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    position: relative;
}
a{
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
}