.comment{
    display: grid;
    grid-template-columns: 6% 88% 6%;
    border-radius: 5px;

    margin-top: 30px;
}
.comment.inner{
    margin-top: 22px;
}
.manageButtonsBlock{
    text-align: right;
    cursor: pointer;
    font-size: 22px;
}
.foldButton{
    cursor: pointer;
    margin-left: -5px;
    width: fit-content;
    border-radius: 10px;

    transition: linear 0.2s;

    display: flex;
    align-items: center;
}
.foldButton *{
    margin: 5px;
}
.foldButton:hover{
    color: #4b4b4b;
}
.visible{
    opacity: 1;
}
.hidden{
    opacity: 0;
}

.manageButtons{
    position: absolute;
    padding: 10px;
    background-color: #383838;
    border-radius: 10px;
    font-size: 15px;
    width: fit-content;
}
.manageButtons div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.manageButtons div *{
    margin-right: 7px;
}
.repliedBox{
    border-left: 2px solid #7083c4;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-left: 5px;

    font-size: 12px;
    cursor: pointer;
}