.gamePreviewBlock{
    background-color: #393939;
    box-shadow: 15px 15px 20px #000000;

    position: relative;

    display: flex;

    margin: 20px;
    cursor: pointer;

    transition: linear 0.2s;
}
.gamePreviewBlock.hover{
    box-shadow: 9px 10px 10px #535353;
}
.gamePreviewBlock.wide{
    width: 100%;
    height: 600px;
}
.gamePreviewBlock.thin{
    width: 28%;
    height: 500px;

    display: flex;
    flex-direction: column;
}
.innerPreviewBlock{
    height: 100%;
    width: 100%;
    position: relative;
}
.previewImage{
    height: 350px;
}
.wideTitleBlock{
    position: absolute;
    bottom: 0;
    width: 100%;

    padding: 10px 20px;

    background-color: rgba(35, 35, 35, 0.8);
    height: 30%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wideTitleBlock h2{
    font-weight: bold;
    font-size: 35px;
}
.wideTitleBlock h3{
    font-size: 30px;
}

.thinTitleBlock{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;

    background-color: #1c1c1c;
}
.thinTitleBlock h2{
    font-weight: bold;
    font-size: 25px;
}
.thinTitleBlock h3{
    font-size: 25px;
}
.thinTitleBlock h4{
    font-size: 14px;
}
