
.overflow{
    width: 100%;
    height: 100%;
    top:0;

    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);

    opacity: 0;
    transition: 0.5s;
    pointer-events: none;
    z-index: 5;
}

.overflow.active{
    pointer-events: all;
    opacity: 1;
}

.inner{
    border-radius: 4px;
    position: relative;
    background-color: #4b4b4b;
    min-height: 500px;
    overflow: auto;
    margin: 30px auto;

    z-index: 4;
}