.categoriesFilterBlock{
    position: absolute;
    padding: 20px;
    background-color: #2d2d2d;
    border-radius: 4px;
    border: 1px solid #6c6c6c;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 350px;
}
.categoriesFilterBlock div{
    font-size: 16px;
}
.checkboxBlock{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 20px;
}
.checkboxBlock *{
    font-size: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}


.active{
    display: flex;
}
.hidden{
    display: none;
}
