.header{
    background-color: #000000;
    width: 100%;
    height: 90px;
    margin: auto;

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: fixed;

    z-index: 5;
}

.header * {
    font-weight: bold;
    font-size: 17px;
    margin: 0 10px;
}

.navigation{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.logo{
    background-image: url(../../../../src/images/logo.png);
    width: 120px;
    height: 120px;
    margin-top: 8px;

    background-size: cover;
}